.dragicon {
	-fx-background-radius: 10; 
}

.node-overlay {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);
	
}

.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.icon-ammeter {
	-fx-background-image: url("http://www.electronic-symbols.com/images/electronic-symbols/electronic-instruments/ammeter.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 50 50;  
    -fx-background-position: center center;
}

.icon-voltmeter {
	-fx-background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/77549-200.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 90 90;  
    -fx-background-position: center center;
}

.icon-resistor {
	-fx-background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Resistor_symbol_IEC.svg/2000px-Resistor_symbol_IEC.svg.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 120 70;  
    -fx-background-position: center center;
}

.icon-capacitor {
	-fx-background-image: url("http://macao.communications.museum/images/exhibits/2_3_5_2_chi.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 120 70;  
    -fx-background-position: center center;
}

.icon-bulb {
	-fx-background-image: url("http://www.materialise.com/sites/default/files/lamp.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 80 80;  
    -fx-background-position: center center;
}

.icon-inductor {
	-fx-background-image: url("https://indiana.edu/~jsomelec/A111/img/glossary/Inductor.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 120 50;  
    -fx-background-position: center center;
}

.icon-switch_icon {
	-fx-background-image: url("http://www.pd4pic.com/images/switch-symbol-circuit-electric-electronics.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 120 70;  
    -fx-background-position: center center;
}

.icon-source {
	-fx-background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Voltage_Source.svg/2000px-Voltage_Source.svg.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 100 100;  
    -fx-background-position: center center;
}

.icon-motor {
	-fx-background-image: url("http://3.bp.blogspot.com/-H13HzxIknas/VXdT5g-gy0I/AAAAAAAAAto/w-rrXuSGJgY/s1600/schematic_symbol_4270_thumb.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 100 75;  
    -fx-background-position: center center;
}

.icon-dot {
	-fx-background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/New_moon_symbol.svg/2000px-New_moon_symbol.svg.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 20 20;  
    -fx-background-position: center center;
}